body {
  background-image: url("https://images-gmi-pmc.edge-generalmills.com/da2abda1-fae1-4782-b65f-93868ca5bd40.jpg");
  background-repeat: repeat-y;
  background-color: powderBlue;
}

.greenPressed {
  background-color: lightGreen;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.green {
  background-color: green;
}

.redPressed {
  background-color: pink;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.red {
  background-color: red;
}

.yellowPressed {
  background-color: rgb(255,252,173);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.yellow {
  background-color: rgb(255,247,0);
}

.bluePressed {
  background-color: powderBlue;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blue {
  background-color: blue;
}
