body {
  background-image: url("https://images-gmi-pmc.edge-generalmills.com/da2abda1-fae1-4782-b65f-93868ca5bd40.jpg");
  background-repeat: repeat-y;
  align-content: center;
  background-color: powderblue;
}
